<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>CabbieMagnet</display-name>
	<!-- OLD SERVLET <servlet> <servlet-name>CabbieMagnet REST Services</servlet-name> 
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class> 
		<init-param> <param-name>com.sun.jersey.config.property.packages</param-name> 
		<param-value>com.cabbiemagnet.webservices</param-value> </init-param> <load-on-startup>1</load-on-startup> 
		</servlet> -->

	<servlet>
		<servlet-name>Companies REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.cabbiemagnet.webservices.companies;org.codehaus.jackson.jaxrs</param-value>
		</init-param>
		<!-- <init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value> 
		</init-param>   -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Orders REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.cabbiemagnet.webservices.orders;org.codehaus.jackson.jaxrs</param-value>
		</init-param>
		 <!--<init-param>
			 <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value> 
		</init-param>  -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Customers REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.cabbiemagnet.webservices.customers;org.codehaus.jackson.jaxrs</param-value>
		</init-param>
		<!-- <init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value> 
		</init-param>   -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Companies REST Service</servlet-name>
		<url-pattern>/companies/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Customers REST Service</servlet-name>
		<url-pattern>/customers/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Orders REST Service</servlet-name>
		<url-pattern>/orders/*</url-pattern>
	</servlet-mapping>

	<!-- Enable the application context -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- listener for the application context -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

</web-app>